In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('unified_df.csv')

In [3]:
df

,Unnamed: 0,learning_algorithm,dataset,filtering_algorithm,n_selected_features,cv_method,n_samples,n_features_org,fold,selected_features_names,selected_features_scores,fit_time,score_time,test_roc_auc,test_acc,test_mcc,test_pr_auc,test_score
0,0,nb,bcellViper.csv,rfe_svm,3.0,"StratifiedKFold(n_splits=10, random_state=42, ...",138.0,6250.0,1.0,"RPLP1,SON,CDC42","1.0000,1.0000,1.0000",196.137200,0.733600,0.7238,0.5000,0.3512,0.5314,NaN
1,1,nb,bcellViper.csv,rfe_svm,3.0,"StratifiedKFold(n_splits=10, random_state=42, ...",138.0,6250.0,2.0,"AK2,IGLL1,CDC42","1.0000,1.0000,1.0000",184.046600,0.668000,0.8806,0.5000,0.3408,0.5122,NaN
2,2,nb,bcellViper.csv,rfe_svm,3.0,"StratifiedKFold(n_splits=10, random_state=42, ...",138.0,6250.0,3.0,"SV2B,AK2,RPLP1","1.0000,1.0000,1.0000",167.652000,0.710200,0.7844,0.5000,0.3924,0.6105,NaN
3,3,nb,bcellViper.csv,rfe_svm,3.0,"StratifiedKFold(n_splits=10, random_state=42, ...",138.0,6250.0,4.0,"RSU1,SON,CDC42","1.0000,1.0000,1.0000",168.201200,0.665400,0.7028,0.5000,0.3146,0.4074,NaN
4,4,nb,bcellViper.csv,rfe_svm,3.0,"StratifiedKFold(n_splits=10, random_state=42, ...",138.0,6250.0,5.0,"SV2B,RPLP1,CDC42","1.0000,1.0000,1.0000",226.583600,0.697400,0.7173,0.3571,0.0824,0.6202,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18235,18235,nb,ayeastCC.csv,svm_ours,20.0,LeaveOneOut(),50.0,6229.0,NaN,"['YDL037C', 'YDL039C', 'YDL070W', 'YDR298C', '...","[0.9990364541512767, 0.9998394090252127, 0.998...",0.524962,0.011345,1.0000,1.0000,1.0000,1.0000,1.0
18236,18236,nb,ayeastCC.csv,svm_ours,25.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YDL037C', 'YDL039C', 'YDL070W', '...","[0.996306407579894, 0.9990364541512767, 0.9998...",0.586399,0.012145,1.0000,1.0000,1.0000,1.0000,1.0
18237,18237,nb,ayeastCC.csv,svm_ours,30.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YDL037C', 'YDL039C', 'YDL070W', '...","[0.996306407579894, 0.9990364541512767, 0.9998...",0.642481,0.013184,1.0000,1.0000,1.0000,1.0000,1.0
18238,18238,nb,ayeastCC.csv,svm_ours,50.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YBL102W', 'YBR034C', 'YBR256C', '...","[0.996306407579894, 0.9924522241850008, 0.9943...",0.937662,0.017567,1.0000,1.0000,1.0000,1.0000,1.0
18239,18239,nb,ayeastCC.csv,svm_ours,100.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YBL102W', 'YBR034C', 'YBR256C', '...","[0.996306407579894, 0.9924522241850008, 0.9943...",1.632958,0.026709,1.0000,1.0000,1.0000,1.0000,1.0

In [4]:
df['dataset'].value_counts()

CS.csv                 2520
bcellViper.csv         2400
Carcinom.csv           2400
FS.csv                 2400
ALL.csv                1940
arcene.csv             1350
BP.csv                 1230
Lung.csv                780
bladderbatch.csv        684
BASEHOCK.csv            480
CBH.csv                 340
ALLAML.csv              252
breastCancerVDX.csv     250
MLL.csv                 240
Lymphoma.csv            240
FSH.csv                 240
PDX.csv                 240
PBS.csv                 240
ayeastCC.csv             12
Name: dataset, dtype: int64

In [12]:
gc = df.groupby(['dataset', 'filtering_algorithm']).size().reset_index(name='size')
gc

                dataset filtering_algorithm  size
0               ALL.csv                 fdr   480
1               ALL.csv                mrmr   480
2               ALL.csv             reliefF   380
3               ALL.csv             rfe_svm   480
4               ALL.csv            svm_ours   120
..                  ...                 ...   ...
65       bcellViper.csv             rfe_svm   600
66     bladderbatch.csv                 fdr   684
67  breastCancerVDX.csv                 fdr   120
68  breastCancerVDX.csv                mrmr   120
69  breastCancerVDX.csv             rfe_svm    10

[70 rows x 3 columns]

In [19]:
baselines = ['fdr', 'mrmr', 'reliefF','rfe_svm']
gc = gc[gc['filtering_algorithm'].isin(baselines)]

In [21]:
missing_res = gc.groupby('dataset')['size'].apply(list).apply(len)
missing_fa = missing_res[missing_res < len(baselines)].index
gc[gc['dataset'].isin(missing_fa)]

                dataset filtering_algorithm  size
18              CBH.csv                 fdr   120
19              CBH.csv                mrmr   120
20              CBH.csv             rfe_svm   100
54              PDX.csv                 fdr   120
55              PDX.csv                mrmr   120
66     bladderbatch.csv                 fdr   684
67  breastCancerVDX.csv                 fdr   120
68  breastCancerVDX.csv                mrmr   120
69  breastCancerVDX.csv             rfe_svm    10

In [23]:
distinct_res = gc.groupby('dataset')['size'].apply(set).apply(len)
missing_exp = distinct_res[distinct_res > 1].index
gc[gc['dataset'].isin(missing_exp)]

                dataset filtering_algorithm  size
0               ALL.csv                 fdr   480
1               ALL.csv                mrmr   480
2               ALL.csv             reliefF   380
3               ALL.csv             rfe_svm   480
14               BP.csv                 fdr   360
15               BP.csv                mrmr   360
16               BP.csv             reliefF   240
17               BP.csv             rfe_svm   270
18              CBH.csv                 fdr   120
19              CBH.csv                mrmr   120
20              CBH.csv             rfe_svm   100
38             Lung.csv                 fdr   240
39             Lung.csv                mrmr   240
40             Lung.csv             reliefF   120
41             Lung.csv             rfe_svm   180
56           arcene.csv                 fdr   360
57           arcene.csv                mrmr   360
58           arcene.csv             reliefF   240
59           arcene.csv             rfe_svm   270
67  breastCancerVDX.csv                 fdr   120
68  breastCancerVDX.csv                mrmr   120
69  breastCancerVDX.csv             rfe_svm    10

In [25]:
prob_df = gc[gc['dataset'].isin(missing_exp) | gc['dataset'].isin(missing_fa)]

In [26]:
prob_df['dataset'].unique()

array(['ALL.csv', 'BP.csv', 'CBH.csv', 'Lung.csv', 'PDX.csv',
       'arcene.csv', 'bladderbatch.csv', 'breastCancerVDX.csv'],
      dtype=object)

In [40]:
df[(df['dataset'] == 'ALLAML.csv') & (df['filtering_algorithm'] == 'fdr') & (df['n_selected_features'] == 1.0)]

,Unnamed: 0,learning_algorithm,dataset,filtering_algorithm,n_selected_features,cv_method,n_samples,n_features_org,fold,selected_features_names,selected_features_scores,fit_time,score_time,test_roc_auc,test_acc,test_mcc,test_pr_auc,test_score
4398,4398,nb,ALLAML.csv,fdr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['1881'],[216.72365924197692],0.092956,0.003452,0.952340,0.930556,0.848620,0.958263,0.930556
5978,5978,svm,ALLAML.csv,fdr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['1881'],[216.72365924197692],0.131165,0.005058,0.946383,0.944444,0.877447,0.941446,0.944444
8631,8631,lr,ALLAML.csv,fdr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['1881'],[216.72365924197692],0.135699,0.004528,0.967660,0.930556,0.846174,0.964591,0.930556
9189,9189,rf,ALLAML.csv,fdr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['1881'],[216.72365924197692],0.353352,0.021444,0.951489,0.902778,0.787884,0.930458,0.902778
9958,9958,knn,ALLAML.csv,fdr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['1881'],[216.72365924197692],0.129304,0.005353,0.956596,0.930556,0.848620,0.937360,0.930556

In [34]:
df[~df['cv_method'].isna() & df['cv_method'].str.contains('LeaveOneOut')]

,Unnamed: 0,learning_algorithm,dataset,filtering_algorithm,n_selected_features,cv_method,n_samples,n_features_org,fold,selected_features_names,selected_features_scores,fit_time,score_time,test_roc_auc,test_acc,test_mcc,test_pr_auc,test_score
50,50,nb,ALLAML.csv,mrmr,20.0,LeaveOneOut(),72.0,7130.0,NaN,"['6', '7108', '7110', '7111', '7112', '7113', ...","[0.9315627684809641, 0.0, 0.0, 0.0, 0.0, 0.0, ...",0.271309,0.006885,0.819574,0.750000,0.459479,0.636462,0.750000
751,751,nb,ALLAML.csv,fdr,100.0,LeaveOneOut(),72.0,7130.0,NaN,"['172', '234', '460', '757', '759', '803', '87...","[36.96169407778394, 45.25023002700539, 44.1737...",0.688054,0.011254,0.997447,0.972222,0.938723,0.995635,0.972222
872,872,nb,ALLAML.csv,mrmr,1.0,LeaveOneOut(),72.0,7130.0,NaN,['6'],[0.9315627684809641],0.130668,0.004932,0.537021,0.625000,-0.008796,0.387923,0.625000
1553,1553,nb,ALLAML.csv,mrmr,2.0,LeaveOneOut(),72.0,7130.0,NaN,"['6', '7128']","[0.9315627684809641, 0.0]",0.134353,0.005084,0.526809,0.652778,0.096756,0.368871,0.652778
2284,2284,nb,bladderbatch.csv,fdr,1.0,LeaveOneOut(),57.0,22284.0,1.0,216005_at,65.6174,139.973600,3.840500,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18235,18235,nb,ayeastCC.csv,svm_ours,20.0,LeaveOneOut(),50.0,6229.0,NaN,"['YDL037C', 'YDL039C', 'YDL070W', 'YDR298C', '...","[0.9990364541512767, 0.9998394090252127, 0.998...",0.524962,0.011345,1.000000,1.000000,1.000000,1.000000,1.000000
18236,18236,nb,ayeastCC.csv,svm_ours,25.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YDL037C', 'YDL039C', 'YDL070W', '...","[0.996306407579894, 0.9990364541512767, 0.9998...",0.586399,0.012145,1.000000,1.000000,1.000000,1.000000,1.000000
18237,18237,nb,ayeastCC.csv,svm_ours,30.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YDL037C', 'YDL039C', 'YDL070W', '...","[0.996306407579894, 0.9990364541512767, 0.9998...",0.642481,0.013184,1.000000,1.000000,1.000000,1.000000,1.000000
18238,18238,nb,ayeastCC.csv,svm_ours,50.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YBL102W', 'YBR034C', 'YBR256C', '...","[0.996306407579894, 0.9924522241850008, 0.9943...",0.937662,0.017567,1.000000,1.000000,1.000000,1.000000,1.000000
18239,18239,nb,ayeastCC.csv,svm_ours,100.0,LeaveOneOut(),50.0,6229.0,NaN,"['YBL030C', 'YBL102W', 'YBR034C', 'YBR256C', '...","[0.996306407579894, 0.9924522241850008, 0.9943...",1.632958,0.026709,1.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
def get_num_folds(row):
    if 'n_splits=10' in row['cv_method']:
        return 10
    elif 'n_splits=5' in row['cv_method']:
        return 5
    elif 'LeaveOneOut' in row['cv_method']:
        return 1
    elif 'LeavePOut' in row['cv_method']:
        return 1

folds_df = df.groupby(['dataset', 'learning_algorithm', 'filtering_algorithm', 'n_selected_features', 'cv_method'])['fold'].apply(list).reset_index()
folds_df['num_folds'] = folds_df.apply(get_num_folds, axis=1)
folds_df[folds_df['fold'].map(len) != folds_df['num_folds']]

,dataset,learning_algorithm,filtering_algorithm,n_selected_features,cv_method,fold,num_folds
2832,bladderbatch.csv,nb,fdr,1.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2833,bladderbatch.csv,nb,fdr,2.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2834,bladderbatch.csv,nb,fdr,3.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2835,bladderbatch.csv,nb,fdr,4.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2836,bladderbatch.csv,nb,fdr,5.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2837,bladderbatch.csv,nb,fdr,10.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2838,bladderbatch.csv,nb,fdr,15.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2839,bladderbatch.csv,nb,fdr,20.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2840,bladderbatch.csv,nb,fdr,25.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2841,bladderbatch.csv,nb,fdr,30.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2842,bladderbatch.csv,nb,fdr,50.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1
2843,bladderbatch.csv,nb,fdr,100.0,LeaveOneOut(),"[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, ...",1